@inherits LayoutComponentBase

<PageTitle>Store</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://globalazure.net/" target="_blank">Global Azure 2024</a>
            <a href="https://gab2024pn.1nn0va.it/" target="_blank">Pordenone</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
